.device-name
  {{= name }}
.soh_led_bar_24_ch-inside
  .led-unit.led-unit-1
  .led-unit.led-unit-2
  .led-unit.led-unit-3
  .led-unit.led-unit-4
  .led-unit.led-unit-5
  .led-unit.led-unit-6
  .led-unit.led-unit-7
  .led-unit.led-unit-8