#tabs-nav
  ul
    li
      a.tab-active( href='#' data-id='#tab-controls' ) Controls
    li
      a( href='#' data-id='#tab-sound-analyze' ) Sound Analysis Settings


#tabs-container
  #tab-controls.tab.tab-active
  #tab-sound-analyze.tab